.home_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4em;
}

.home_container h1 {
  font-size: 2.5em;
  margin-bottom: .5em;
}

.home_container h1 span {
  color: rgb(216, 146, 229);
  padding: 0.2em;

}

.home_container p {
  margin-bottom: 1.5em;
  padding: 10px;
}

.home_container img {
  width: 350px;
  margin: 2em 0;
}