.btn {
  appearance: button;
  background-color: #51435f;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;

  /*margin: 0;
  outline: none;
  overflow: visible;*/

  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3.5px;
  line-height: 20px;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;


  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  width: 25%;

}

.btn:after {
  background-clip: padding-box;
  background-color: #29292b;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.btn:main,
.btn:focus {
  user-select: auto;
}

.btn:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.btn:disabled {
  cursor: auto;
}