.footer {
  background-color: #222;
  color: white;
  padding: 3em;
  text-align: center;
}

.social_list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.social_list li {
  margin: 0 1em;
}

.social_list li:hover {
  color: rgb(216, 146, 229);
}


.social_list svg {
  font-size: 1.5 em;
  cursor: pointer;
}

.copy_right {
  margin-top: 2em;
}

.copy_right span {
  font-weight: bold;
  color: rgb(216, 146, 229);
  ;
}