.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(51, 50, 50);
  padding: 1em;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
}

.item {
  margin-right: 1em;
}

.item a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.item a:hover {
  color: rgb(216, 146, 229);
  font-weight: bold;
}